@font-face {
    font-family: ThaiSansLite;
    src: url(../font/thaisanslite_r1.ttf);
}

@font-face {
    font-family: Didot;
    src: url(../font/Didot.ttc);
}

.fp-controlArrow.fp-prev {
    left: 0px;
    border: none;
    width: 50px;
    height: 50px;
    background: url(../imgs/leftM.png) no-repeat;
    cursor: pointer;
    background-size: contain;
}
.fp-controlArrow.fp-next {
    right: 0px;
    border: none;
    width: 50px;
    height: 50px;
    background: url(../imgs/rightM.png) no-repeat;
    cursor: pointer;
    background-size: contain;
}

#mainpage {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../imgs/sec0.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;	
}

#houseAImg-1 {
	background: url("../imgs/houseA.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

#houseAImg-2 {
	background: white url("../imgs/A1.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
	background-position: center center;
}

#houseAImg-3 {
	background: white url("../imgs/A2.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
	background-position: center center;
}

#houseBImg-1 {
	background: url("../imgs/houseB.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

#houseBImg-2 {
	background: white url("../imgs/B1.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
	background-position: center center;
}

#houseBImg-3 {
	background: white url("../imgs/B2.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
	background-position: center center;
}

#location {
	background-color: #EEEFF0;
}

.halfHeight {
	height: 60%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;	
	padding-top: 80px;
}

.halfHeightBottom {
	z-index: 4;
	bottom: 0px;
	position: absolute;
	width: 100%;
	height: 40%;
	font-family: ThaiSansLite;
	#head {
		font-size: 2em;
		color: #333;
		text-align: center;
	}
	#description {
		padding: 0px 10%;
		font-size: 1.2em;
	}
}

.rectangle {
	background-color: #EDEDED;
}


#concept-1 {
	background: url("../imgs/sec1-1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;	
}

#concept-2 {
	background: url("../imgs/sec1-2.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#coverBackground {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#concept-3 {
	background: url("../imgs/sec1-3.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#locationImage {
	background: url("../imgs/sec1-3.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#locationImg-2 {
	background: url("../imgs/sec1-3.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.centerDiv {
	display: inline-block;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 10px #000000;
	width: 100%;
	#head {
		letter-spacing: 0.35em;
		font-size: 2em;
		font-family: ThaiSansLite;
		font-weight: normal;
	}
	span {
		font-size: 1.5em;
		font-family: ThaiSansLite;
	}
}

.triangle-down-right {
    width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 6vh 100vw;
	border-color: transparent transparent #EDEDED transparent;
	bottom: 40%;
}

#neighbourTri {
	bottom: 25%;
}
#neighbourRec {
	height: 25%;
}

.fp-tableCell {
	position: relative;
	display: block;
}

.cn {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.centerText {
	#head {
		text-align: center;
		font-size: 1.4em;
		font-family: ThaiSansLite;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		letter-spacing: 0.1em;
	}
}
#locationText{
	padding-top: 5%;
	padding-bottom: 5%;
	height: 30%;
	.text {
		vertical-align: middle;
		text-align: center;
		font-size: 1.3em;
		height: 20%
	}
	.button {
		text-align: center;
		font-size: 1.3em;
		height: 30%
	}
	
}

.locationButton {
	text-decoration: none;
	color: #333;
	font-size: 1.2em;
	border: 2px solid #444;
	padding: 1% 5%;
}

.padfromnav{
	width: 100%;
	padding-top: 80px;
}

.fullWidth {
	width: 100%;
	height: 60%;
}