@font-face {
  font-family: ThaiSansLite;
  src: url(../font/thaisanslite_r1.ttf); }

@font-face {
  font-family: Didot;
  src: url(../font/Didot.ttc); }

.no-padding {
  padding: 0 0 !important; }

.no-margin {
  margin: 0 0 !important; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.nine-width {
  width: 90%; }

.warp {
  white-space: normal; }

.nowrap {
  white-space: nowrap; }

.concept-text {
  text-align: center; }

.pad-five {
  padding: 0 5%; }

.valign-top {
  vertical-align: top; }

#mainPage {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/sec0.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#concept {
  background-color: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.concept-text {
  padding: 0 1vw; }
  .concept-text h1 {
    margin: 0.75em 0 0 0; }
  .concept-text p {
    font-size: 1.4em; }

#concept-img-1 {
  background-image: url(../imgs/sec1-1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#concept-img-2 {
  background-image: url(../imgs/sec1-2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#concept-img-3 {
  background-image: url(../imgs/sec1-3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.sixvw-height {
  height: 60vw; }

#headTextContainer {
  top: 50%;
  position: relative;
  z-index: 4;
  color: #eee;
  text-align: center; }
  #headTextContainer h1 {
    margin: 0 0 !important;
    font-size: 4em;
    letter-spacing: 0.05em; }
  #headTextContainer p {
    font-size: 1.75em; }

.inline {
  display: inline-block; }

.scroll {
  overflow: scroll;
  white-space: nowrap; }

.row.scroll {
  white-space: nowrap;
  margin: 10% 1%; }

.triangle-down-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6vh 100vw;
  border-color: transparent transparent #EDEDED transparent;
  bottom: 0%;
  position: absolute; }

.triangle-down-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6vh 0 0 100vw;
  border-color: transparent transparent transparent #EDEDED;
  bottom: 0%;
  position: absolute; }
