@font-face {
  font-family: ThaiSansLite;
  src: url(../font/thaisanslite_r1.ttf); }

@font-face {
  font-family: Didot;
  src: url(../font/Didot.ttc); }

.no-padding {
  padding: 0 0 !important; }

.no-margin {
  margin: 0 0 !important; }

.full-height {
  height: 100%; }

#mainPage {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/sec0.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#headTextContainer {
  top: 50%;
  position: relative;
  z-index: 4;
  color: #eee;
  text-align: center; }
  #headTextContainer h1 {
    margin: 0 0 !important;
    font-size: 4em;
    letter-spacing: 0.05em; }
  #headTextContainer p {
    font-size: 1.5em; }
